ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE="0664", SYMLINK+="arduino", GROUP="plugdev", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}+="robot.service"