[Unit]
Description=robot

[Service]
WorkingDirectory=/home/david/GitHub/tv-ai-robot
ExecStart=/etc/poetry/bin/poetry run python src/main.py

[Install]
WantedBy=multi-user.target
